---
layout: base.liquid
title: Home
permalink: /
---

<div id="top-banner">
    <div class="swapper-container banner-swapper">
        {% assign banners = collections.offer | reverse %}
        
        {% for item in banners %}
        <div class="swapper-item {% if forloop.first %}active{% endif %}">
            <img src="{{ item.data.image | url }}" alt="{{ item.data.title }}">
            <div class="banner-content">
                <h2>{{ item.data.title }}</h2>
            </div>
        </div>
        {% endfor %}
        
        {% if banners.size == 0 %}
            <p class='empty-gallery-message'>Loading offers...</p>
        {% endif %}
        
        <button class="prev-btn">&#10094;</button>
        <button class="next-btn">&#10095;</button>
    </div>
</div>

<a href="/products/" class="prada-panel">
    <div class="prada-panel-label">ALiF Products</div>
    
    <div class="swapper-container products-panel-gallery">
        {% for item in collections.product reversed limit:5 %}
        <div class="swapper-item {% if forloop.first %}active{% endif %}">
            <img src="{{ item.data.image | url }}" alt="{{ item.data.title }}">
        </div>
        {% endfor %}

        {% if collections.product.size == 0 %}
            <p class='empty-gallery-message'>Products coming soon.</p>
        {% endif %}
    </div>
</a>

<a href="/services-work/" class="prada-panel">
    <div class="prada-panel-label">ALiF Services</div>
    
    <div class="swapper-container services-panel-gallery">
        {% for item in collections.service reversed limit:5 %}
        <div class="swapper-item {% if forloop.first %}active{% endif %}">
            <img src="{{ item.data.image | url }}" alt="{{ item.data.title }}">
        </div>
        {% endfor %}

        {% if collections.service.size == 0 %}
            <p class='empty-gallery-message'>Services coming soon.</p>
        {% endif %}
    </div>
</a>

<a href="/services-work/" class="prada-panel">
    <div class="prada-panel-label">ALiF Works</div>
    
    <div class="swapper-container works-panel-gallery">
        {% for item in collections.work reversed limit:5 %}
        <div class="swapper-item {% if forloop.first %}active{% endif %}">
            <img src="{{ item.data.image | url }}" alt="{{ item.data.title }}">
        </div>
        {% endfor %}

        {% if collections.work.size == 0 %}
            <p class='empty-gallery-message'>Our work coming soon.</p>
        {% endif %}
    </div>
</a>

<a href="/designs/" class="prada-panel">
    <div class="prada-panel-label">ALiF Designs</div>
    
    <div class="swapper-container designs-panel-gallery">
        {% for item in collections.design reversed limit:5 %}
        <div class="swapper-item {% if forloop.first %}active{% endif %}">
            <img src="{{ item.data.image | url }}" alt="{{ item.data.title }}">
        </div>
        {% endfor %}

        {% if collections.design.size == 0 %}
            <p class='empty-gallery-message'>Designs coming soon.</p>
        {% endif %}
    </div>
</a>
